.montserrat {
	font-family: 'Montserrat', sans-serif;
}
.dosis {
	font-family: 'Dosis', sans-serif;
}
.abel {
	font-family: 'Abel', sans-serif;
}
.questrial {
	font-family: 'Questrial', sans-serif;
}
.exo {
	font-family: 'Exo', sans-serif;
}
.cabin_sketch {
	font-family: 'Cabin Sketch', cursive;
}
.bungee_hairline {
	font-family: 'Bungee Hairline', cursive;
}