/*
Web Portfolio Color Scheme

This scheme aims to have a blend of high contrast with some muted elements. Colors
are intended to be minimalistic, with a degree of  impact.
The colors are as listed:
#DOD3C5 "Stone Wash" for General Background and Element Backgrounds
#56B1BF "Cerulean" for visited links
#08708A "Teal"   for links, headers
#D73A31 "Tomato" for headers
#032B2F "Hunter" for text
*/



body { 
	background-color:  #e9f8e3
}

p {
	color: #032B2F
}

h1 {
	color: #D73A31
}

h2 {
	color: #08708A
}

a:link {
	color: #D73A31
}

a:visited{
	color: #08708A;
}