.font_montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font_dosis {
	font-family: 'Dosis', sans-serif;
}
.font_abel {
	font-family: 'Abel', sans-serif;
}
.font_questrial {
	font-family: 'Questrial', sans-serif;
}
.font_exo {
	font-family: 'Exo', sans-serif;
}
.font_cabin_sketch {
	font-family: 'Cabin Sketch', cursive;
}
.font_bungee_hairline {
	font-family: 'Bungee Hairline', cursive;
}