/*
Web Portfolio Color Scheme

This scheme aims to have a blend of high contrast with some muted elements. Colors
are intended to be minimalistic, with a degree of  impact.
The colors are as listed:
#DOD3C5 "Stone Wash" for General Background and Element Backgrounds
#56B1BF "Cerulean" for visited links
#08708A "Teal"   for links, headers
#D73A31 "Tomato" for headers
#032B2F "Hunter" for text
*/

.color_background {
	color: "#DOD3C5"
}

.color_header {
	color: "#D73A31"
}

.color_visited_link {
	color: "#56B1BF"
}

.color_link {
	color: "#08708A"
}

.color_paragraph {
	color: "#032B2F"
}

body { 
	background-color: #D0D3C5
}

p {
	color: #032B2F
}

h1 {
	color: #D73A31
}

h2 {
	color: #08708A
}