/* 
	Aleksandar Antonov
	Bucknell University
	Stylesheet for Portfolio
*/


.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	cursor: crosshair;
	}

.wrapper h1, h2, h3{
	font-family: "Exo";
	text-align: center;
	border: 1px solid orange;
}

.wrapper p {
	font-family: "Questrial";
}

.header{
	width: 100%;
	border-style: solid;
	text-align: center;
	font-family: "Exo";
}

.block {
	width: 100%;
	background-color: white;
	border-color: orange; 
	text-align: center;
	text-decoration: underline;
}

.subblock {
	text-align: center;
	background-color: white;
}

.table, th, td{
	width: 100%;
	border: 1px solid black;
	background-color: white;
	text-decoration-color: #08708A;
	padding: 5px;
}
.project {

}

#flex {
	display: flex;
	flex-wrap: wrap;
}

#course-info {
	text-align: center;
}




.column {
	background-color: white;
	box-shadow: 3px 3px 3px #999;
	padding: 5px;
	flex-grow: 1;
	border: 1px solid orange;
	width: 100%;
	margin: 3px 3px 3px 3px;
	text-align: center;
}

.about img{
	float: left;
	height: 30%;
	width: 30%;
	margin-right: 20px;
	max-width: 195px;

}
#project-one {
	text-align: left
}

#project-two {
	text-align: left
}

#project-three {
	text-align: left
}



/* Media Adjustment */

@media (min-width: 992px){

	.container{
		width: 90%;
	}

	.column{
		width: 20%;
	}

	#project-one {
		text-align: left
	}

	#project-two {
		text-align: center
	}

	#project-three {
		text-align: right
	}

	section.projects{
		padding: 10%;
	}
	section.about{
		padding: 10%;
	}
	section.course{
		padding: 10%;
	}
}



@media (min-width: 768px) and (max-width: 991px) {

	.container{
		width: 95%;
	}

	.column{
		width: 30%;
	}

	#project-one {
	text-align: left
	}

	#project-two {
	text-align: right
	}

	#project-three {
	text-align: center
	}

	section.projects{
		padding: 10%;
	}
	section.about{
		padding: 10%;
	}
	section.course{
		padding: 10%;
	}

}

@media (max-width: 767px) {

	.container{
		width: 80%;
	}

	.column{
		width: 100%;
	}

	#project-one {
		text-align: left
	}

	#project-two {
		text-align: left
	}

	#project-three {
		text-align: left
	}


	section.projects{
		padding: 10%;
	}
	section.about{
		padding: 10%;
	}
	section.course{
		padding: 10%;
	}

}